@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;500&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #000000;
  position: relative;
  margin: 0 auto;
  padding-top: 150.56px;
  padding-bottom: 80px;
  min-height: 100vh;
}

/*HEADER*/

div.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regpagination-divar", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  background-color: #010326;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  background-color: #03041a;
  position: fixed;
  width: 100%;
  top: 0%;
  padding: 0;
  z-index: 2;
}

div.navbar img {
  width: 150px;
}

div.navbar a {
  color: #d5daf2;
  position: relative;
  text-decoration: none;
  padding: 0.8rem;
  z-index: 0;
}

div.navbar a::before,
div.navbar a::after {
  background: #d5daf2;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.navbar a:before {
  top: 0px;
  transform: translateY(-10px);
}

div.navbar a:after {
  bottom: 0px;
  transform: translateY(10px);
}

div.navbar a:hover:before,
div.navbar a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.welcome {
  font-family: 'Kanit';
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.cover {
  width: 100%;
  height: 60vh;
  margin: 3rem 0;
}

/*BUTTONS*/

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.buttons img {
  background-color: #d5daf2;
  width: 150px;
  box-shadow: 4px 4px 4px gray;
}

.buttons img:nth-child(1) {
  padding: 20px 20px;
  border-radius: 10%;
}

.buttons img:nth-child(2) {
  padding: 20px 20px;
  border-radius: 50%;
}

.buttons img:nth-child(3) {
  width: 180px;
  padding: 5px 20px;
  border-radius: 10%;
}

.button-icon {
  display: inline;
  font-size: 1.3rem;
  background-color: #51a629;
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #47a603;
}

.buttons a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #00030d;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon:hover, .button-icon a:hover {
  color: #d5daf2;
  background-color: #4ca193;
}

.form, .table, .cards {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*FORM*/

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #010326;
  width: 33%;
  margin: 3rem auto;
  padding: 1em;
}

.wrapper p{
  text-align: center;
}
.wrapper h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.wrapper h2 {
  font-size: 1rem;

  text-align: center;
}

fieldset{
  width: 100%;
  padding: 0;
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

legend{
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label{
  display: block;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}


textarea{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2rem;
}

select{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}


input:not([type="radio"]), textarea {	
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding: .4rem 1rem;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}


.input-radio {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;   
}

.input-radio input {
  margin-right: 1rem;
}

.input-radio label {
  padding: 0;
}


/* Users Section */

/* USERS */


.users {
  width: 100vw;
  margin: 50px 0;
}

.users-cards {
  font-family: 'Kanit';
  font-size: 4.2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.table{
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

#usersInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-card {
  color: #000;
  background-color: #fff;
  position: relative;
  width: 30rem;
  margin: 20px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.user-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.user-text {
  font-weight: 700;
}

.user-data {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

.user-content {
  display: flex;
}

.col-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51a629;
  width: 60%;
  height: 250px;
}

.col-right {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.user-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(171, 226, 145, 0.81);
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.user-card:hover .user-effect {
  width: 100%;
}

.user-effect h3 {
  font-size: 1.5rem;
  color: #010326;
  padding: 0.8em 1.9em;
  border: 6px solid #010326;
  border-radius: 20px;
}

.users-table {
  width: 90%;
  margin: 0 auto;
  border: 1px solid white;
  border-collapse: collapse;
}

.col {
  font-family: 'Montserrat', sans-serif;
  font-weight: light 300;
  text-align: center;
  color: #ffffff;
  width: 15%;
  padding: 1rem;
  border: 3px solid white;
}

.user-row:hover {
  background: #040e31;
}

.table-header{
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: medium 400;
  text-align: center;
  background-color: #51a629;
  width: 15%;
  padding: 1rem;
  border: 3px solid white;
}

/*FOOTER*/

footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  background-color: #03041a;
  position: absolute;
  width: 99%;
  padding: 1rem;
  padding-right: 0%;
  bottom: 0%;
}


/*--------------- Rick and Morty CSS Starts Here (In development)-------------------- */
.rnm-pagination-div {
  display: flex;  
  justify-content: center;
  font-size: 2rem;
}

.rnm-pagination-div button {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 20%;     
  margin: 0% 2% 2% 0%;
  border-radius: 20px;
  background-color: #47a603;
}
.rnm-parent-container{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;  
  flex-wrap: wrap;
  
}
.rnm-cards {
  display: flex;
  width: 20%; 
  flex-direction: column;
  margin: 0% 0% 2% 0%;
  border: solid 1px green;
}
.rnm-card-text {
  padding: 0.5rem;
  border: solid 1px green;
}
.rnm-card-text h3 {
  text-align: center;
  border: solid 1px green;  
}
.Alive {
  color: rgb(29, 241, 50);  
}
.Dead {
  color: red;
  background-color: blue;
  box-sizing: content-box ;
  width: 20%;
  text-align: center;
}