body{
    color: #fff;
    margin: 0 auto;
    background-color: #00030D;
}

div.navbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #010326;
    padding: 1rem 2rem;
}

div.navbar a{
    color: #D5DAF2;
    padding: 0.5rem;
    text-decoration: none;
    position: relative;
    z-index: 0;
}

div.navbar a::before, div.navbar a::after{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #D5DAF2;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.navbar a:before{
    top: 0px;
    transform: translateY(-10px);
}

div.navbar a:after{
    bottom: 0px;
    transform: translateY(10px);
}

div.navbar a:hover:before, div.navbar a:hover:after{
    opacity: 1;
    transform: translateY(0px);
}

.welcome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 5rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.buttons img{
    background-color: #D5DAF2;
    width: 150px;
}

.buttons img:nth-child(1){
    border-radius: 10%;
    padding: 20px 20px;
}

.buttons img:nth-child(2){
    border-radius: 50%;
    padding: 20px 20px;
}

.buttons img:nth-child(3){
    border-radius: 10%;
    padding: 5px 20px;
    width: 180px;
}